
.nav-links:active{
  color: red;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: orangered;
  background-color:none;
  border-color: none;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs .nav-link:hover{
  color: rgb(212, 16, 16);

}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: rgb(212, 16, 16) !important;
  isolation: isolate;
  color: rgb(212, 16, 16) !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgb(212, 16, 16) !important;
  background-color: #020202 !important;
  border-color: rgb(212, 16, 16) !important;
}

.nav-link{
  color: #ffffff !important
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: black !important;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 41px !important;
  width: 364px;
  height: 500px;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(2.25rem - 1px) !important;
  border-bottom-left-radius: calc(2.25rem - 1px) !important;

  border-top-right-radius: calc(2.25rem - 1px) !important;
  border-bottom-right-radius: calc(2.25rem - 1px) !important;

  height: inherit;
}

.card:hover{
    transition: all 0.2s ease-out;
    box-shadow: 5px 11px 13px rgb(241 73 73 / 20%);
    top: -4px;
    border: 3px solid #050202 !important;
    background-color: rgb(2, 103, 255) !important;
}

.card-img, .card-img-top:hover{
  -webkit-filter: blur(2px) !important;
  filter: blur(2px) !important;
}


.card-text:last-child:hover {
  margin-bottom: 0;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  opacity: 1;
  visibility: visible;
  transition: ease-in-out .45s;
  border-radius: 41px !important;
}

.card-text:last-child{
  margin-bottom: 0;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  opacity: 0;
}

.card-text{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5) !important;
  margin-left: calc(var(--bs-gutter-x) * -0.5) !important;
}

@media only screen and (max-device-width: 479px) and (min-device-width: 320px){
  .row{
              margin-right: calc(var(--bs-gutter-x) * 0) !important;
              margin-left: calc(var(--bs-gutter-x) * 0) !important;
              text-align: center !important
      }
  }

.nav-link {
  color: #ffffff !important;
}

.nav-link.active{
  color: red !important;
}

.nav-link:hover{
  color: red !important;
}



@media only screen and (max-device-width: 479px) {
  .card {
    margin-bottom: 30px;
    width: 329px;

  }
}

@media (max-width: 479px){
  .navbar-nav {
      flex-direction: row !important;

  }
  }




